{% extends 'base.html.twig' %}

{% block title %}Garage Parrot{% endblock %}
{% block body %}

<div class="example-wrapper">
    <h1 class="rouge">Garage Parrot</h1>
    <p>test 3</p>
    This friendly message is coming from:
    <button>bouton 1</button>
    <button class="btn btn-primary">bouton 2</button>
</div>
{% endblock %}
