{% extends 'base.html.twig' %}
{% block title %}Mentions légales{% endblock %}
{% block body %}
<!--Contenu-->
<div class="container d-flex justify-content-center wrapper">
    <div class="row mt-4">
        <div class="col">
            <ul>
                <li><p>Ce site à été réalisé dans le cadre d'une évaluation.</p></li>
                <li><p>Il est hébergé chez alwaysdata.</p></li>
                <li><p>Les illustrations utilisées sont libres de droits.</p></li>
                <li><p>Elles proviennent des sites pexels.com et pixabay.com</p></li>
                <li><p>Pour contacter le développeur, merci de prendre contact avec Study.fr</p></li>
            </ul>
        </div>
    </div>
</div>
<!--Footer-->
<footer>
    <div class="container text-center foot">
        <div class="row">
            <div class="col">
                <p>{{ opening.hours }}</p>
              &copy; 2023 site réalisé dans le cadre d'une évaluation</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
