<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
<!--Titre-->
<div class="container text-center">
    <div class="row">
        <div class="col-4"><img src="{{ asset('pictures/car-logo-vg.jpg') }}" class="img-fluid" alt="logo voiture"></div>
        <div class="col-4 d-flex align-items-center">
            <h1 class="w-100">Garage Parrot</h1>
        </div>
        <div class="col-4"><img src="{{ asset('pictures/car-logo-vd.jpg') }}" class="img-fluid" alt="logo voiture"></div>
    </div>
</div>
<!--Barre de navigation-->
<nav class="navbar navbar-expand-sm container">
    <div class="collapse navbar-collapse justify-content-evenly" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Accueil</a>
            <a class="nav-item nav-link" href="sales">Nos ventes</a>
            <a class="nav-item nav-link" href="contact">Nous contacter</a>
            <a class="nav-item nav-link" href="connection">Connexion</a>
            {% if is_granted('ROLE_ADMIN') %}
            <a class="nav-item nav-link" href="admin/administration">Gestion du site</a>
            {% endif %}
            <a class="nav-item nav-link" href="legal">Mentions légales</a>
        </div>
    </div>
</nav>
        {% block body %}{% endblock %}
<!--Footer-->
<footer>
    <div class="container text-center">
        <div class="row foot">
            <div class="col">
                <p>Nous sommes ouvert : du lundi au vendredi - de 8h45 à 12h00 et de 14h00 à 18h00 <br>
                le samedi - de 8h45 à 12h00<br>
              &copy; 2023 site réalisé dans le cadre d'une évaluation</p>
            </div>
        </div>
    </div>
</footer>
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
