{% extends 'base.html.twig' %}

{% block title %}Modification du commentaire{% endblock %}

{% block body %}
<div class="container mt-3">
    <h2>Modifier le commentaire</h2>

    {{ include('comment_crud/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_comment_crud_index') }}">Retour à la liste</a>

    {{ include('comment_crud/_delete_form.html.twig') }}
</div>
{% endblock %}
