{% extends 'base.html.twig' %}
{% block title %}Gestion du site{% endblock %}
{% block body %}
<!--Contenu-->
<div class="container d-flex justify-content-center">
    <div class="row mt-4 flex-column">
        <div class="col">
            <h2>Fonctionnalitées d'administrateur</h2>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="cadre-1"><a href="register">Création de compte</a></div>
                {% endif %}
                <div class="cadre-1"><a href="commentcrud">Modération des commentaires</a></div>
                <div class="cadre-1"><a href="card">Création d'annonce</a></div>
                <div class="cadre-1"><a href="cardcrud">Modération d'annonces</a></div>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="cadre-1"><a href="opening">Pied-de-page</a></div>
                {% endif %}
                <div class="cadre-1"><a href="letter">Consulter les messages</a></div>

        </div>
    </div>
</div>
{% endblock %}
